<div class="navbar">
    <div class="title">
        Wallet Weave
    </div>
    <div class="lists">
        <div class="options">
            <ul>
                <li appNavBtnHover>Button-1</li>
                <li appNavBtnHover>Button-2</li>
                <li appNavBtnHover>Button-3</li>
                <li appNavBtnHover>Button-4</li>
            </ul>
        </div>
        <div class="login-register">
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </div>
    </div>
</div>
