<div class="navbar">
    <div class="title" routerLink = "">
        Wallet Weave
    </div>
    <div class="lists">
        <div class="options">
            <ul>
                <li appNavBtnHover routerLink = "">Home</li>
                <li appNavBtnHover>Button-2</li>
                <li appNavBtnHover>Button-3</li>
                <li appNavBtnHover>Button-4</li>
            </ul>
        </div>
        <div class="login-register">
            <ul *ngIf="!isUserLoggedIn">
                <li routerLink = "login">Login</li>
                <li routerLink = "signup">Register</li>
            </ul>
            <ul *ngIf="isUserLoggedIn">    
                <li (click)="onLogOut()">Logout</li>
            </ul>
        </div>
    </div>
</div>
