.navbar {
    box-shadow: 0px 0px 10px 0px rgb(71, 71, 71);
    background-color: #101010;
    color: white;
    display:flex;
    width: 100%;
    height: 80px;
}

.navbar > .title {
    /* border : 2px solid red; */
    width : 15vw;
    height : fit-content;
    padding : 5px 10px; 
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin : auto auto auto 1.5vw;
}

.navbar > .lists {
    /* border : 1px solid blue; */
    margin : auto 0 auto auto;
    width: 85vw;
    height: fit-content;
    display: flex;
}

.lists ul {
    list-style-type: none;
    padding: 0%;
}

.lists ul li {
    cursor: pointer;
}

.options {
    /* border : 1px solid hotpink; */
    margin : 0px 30px;
}

.options > ul {
    /* border : 1px solid green; */
    margin : auto 0 auto 0 ;
    display: flex;
    width: fit-content;
}
.options > ul > li {
    width: fit-content;
    height: 50px;
    /* border : 1px solid green; */
    border-radius: 10px;
    margin : 0px 10px 0 10px;
    padding : 12px 13px;
    transition: ease-in-out 0.25s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.options > ul > li:hover {
    background-color: rgb(82, 204, 241);
    border-radius: 10px;
    color : black;
    box-shadow: 0px 0px 10px 0px rgb(100, 100, 100)
}

/* @keyframes optionAnimation {
    to {
        width: 100%;
    }
  } */

.options > ul > li::before {
    content : "";
    position: absolute;
    width : 0%;
    height : 3px;
    background-color: green;
    bottom : 0px;
    left : 0%;
}

/* .options > ul > li:hover::before {
    content : "";
    animation: optionAnimation 0.8s both ease;
} */

.login-register {
    /* border : 1px solid firebrick; */
    margin: 0 50px 0 auto;
}

.login-register > ul {
    margin : 0;
    display: flex;
    width: fit-content;
}

.login-register > ul > li {
    margin : auto 7px auto 7px;
    padding : 9px 13px;
    width : 150px;
    height: 50px;
    text-align: center;
    background-color: rgb(53, 184, 245);
    box-shadow: 0px 0px 7px 2px rgb(63, 63, 63);
    color: black;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 900;
    transition: ease-in-out 0.3s;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
}

.login-register > ul > li:hover {
    background-color: white;
    color: black;
}

